* {
    font-family: helvetica;
}

h1 {
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    background: center/cover url('pattern.jpeg');
}

h2 {
    color: white;
    font-weight: bold;
}

#brushes h2 {
    font-size: 32px;
    background-color: mediumspringgreen;
}

#frames h2 {
    font-size: 32px;
    background-color: lightcoral;
}    

#paint h2 {
    display: block;
    font-size: 32px;
    background-color: skyblue;
}

span {
    font-weight: bold;
    color: blue;
}